@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
h1, h3, .continue, #score, #loading-canvas{
    font-family: 'Arvo', serif;
}

body {
    font-family: 'Arvo', serif;
    margin: 0;
}

.authors {
    margin-top: 0; 
    color: rgb(84, 82, 82);
}

#score {
    font-size: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    gap: 1rem;
}

#image-grid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 14rem 24rem 14rem;
    gap: 8rem;
}

.image-grid-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

#loading-canvas {
    position: absolute;
    font-weight: 600;
    font-size: 2rem;
}

#image-canvas {
    display: block;
    margin: 0 auto;
    height: 24rem;
    width: 24rem;
    image-rendering: pixelated;
}

#label {
    height: 18px;
    /* display: none; */
}

#guess {
    text-align: center;
    border-radius: 0.5rem;
    height: 1.5rem;
    width: 8rem;
    margin-right: 1rem;
}

#correct {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    margin: auto;
    width: 24rem;
    gap: 1rem;
}

#incorrect {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    width: 22rem;
    gap: 1rem;
}

#guess-form {
    margin: 2rem 0 4rem 0;
}

button {
    height: 4rem;
    width: 7rem;
    border-radius: 1rem;
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: 'Arvo', serif;
    border-width: 3x;
    border-color: rgb(103, 3, 60);
    cursor: pointer;
    background: linear-gradient(to bottom left, rgb(229, 13, 154), rgb(237, 195, 237));
}

.continue:hover {
    background: linear-gradient(180deg, rgb(131, 131, 131) 0%, rgb(73, 73, 73) 66%, rgb(38, 38, 38) 100%);
}

.submit-guess {
    height: 3rem;
    width: 5rem;
    border-radius: 0.5rem;
}

#softmax-prediction, #mlp-prediction, #leaky-prediction {
    display: none;
}

#grad {
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(208, 226, 243), rgb(237, 195, 237));
}

#fireworksCanvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    pointer-events: none;
}